body {
    font-size: large;
    padding: 2rem;
    line-height: 1.5;
}

.theme-default {
    background-color: #f0f0f0;
    color: #333;
}

@media (prefers-color-scheme: dark) {
    .theme-default.adaptive {
        background-color: #111;
        color: #bbb;
    }
}

